/*      ___   ____
        /' --;^/ ,-_\     \ | /
       / / --o\ o-\ \\   --(_)--
      /-/-/|o|-|\-\\|\\   / | \
       '`  ` |-|   `` '
             |-|
             |-|O
             |-(\,__
          ...|-|\--,\_....
      ,;;;;;;;;;;;;;;;;;;;;;;;;,.
~~,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,  ______   ---------   _____     ------ 

*/

/*@media screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape) {

    .example {background: yellow;}

 
}*/
/* Extra small devices (phones, 600px and down) */

/*@media only screen and (min-width: 400px) and (max-height: 400px) and (orientation: portrait) {

    .example {background: coral;}


   
}*/

@media (orientation: portrait) {

    .example {
      background: blue;
      
      font-size: large;

      color: yellow;
      font-weight: bold;

      height: 300%;
      margin-top: -10%;
    }

    #text{
      position: absolute;
    font-size: large;

      color: chartreuse;
      font-weight: bold;
      margin-top: 70%;

    }



     

    


       #mover{
          opacity: 0.0;

       }

       #mover2{
          opacity: 0.0;

       }
       #mover3{
          opacity: 0.0;

       }





      #server_farm {
  position: absolute;
  width: 32%;
  top: 25%;
  left: 19%;
  height: auto;
  z-index: -2;
  opacity: 0.0;
}
#tree {
  position: absolute;
  width: 15%;
  top: 51%;
  left: 73%;
  height: auto;
  z-index: 1;
  opacity: 0.0;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 42%;
  left: 53%;
  height: auto;
  z-index: 1;
  opacity: 0.0;

}
#tree3 {
  position: absolute;
  width: 15%;
  top: 55%;
  left: 3%;
  height: auto;
  z-index: 1;
  opacity: 0.0;

}

.ocean1 {
  opacity: 0.0;

}

.ocean2 {
  opacity: 0.0;

}

#dolphin{
    opacity: 0.0;

}

#dolphin_rev{
    opacity: 0.0;


}

#city{
      opacity: 0.0;

}



  
}

@media   (orientation: landscape) {
  #text {
    background: yellow;
    opacity: 0.0;

  }


  #server_farm {
  position: absolute;
  width: 32%;
  top: 25%;
  left: 19%;
  height: auto;
  z-index: -2;
}
#tree {
  position: absolute;
  width: 15%;
  top: 51%;
  left: 73%;
  height: auto;
  z-index: 1;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 44%;
  left: 53%;
  height: auto;
  z-index: 1;

}
#tree3 {
  position: absolute;
  width: 15%;
  top: 56%;
  left: 3%;
  height: auto;
  z-index: 1;

}

} 

/*@media only screen and (max-width: 600px) {
  .example {background: red;}
  #server_farm {
  position: absolute;
  width: 32%;
  top: 50%;
  left: 19%;
  height: auto;
  z-index: -2;
}
#tree {
  position: absolute;
  width: 15%;
  top: 56%;
  left: 73%;
  height: auto;
  z-index: 1;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 46%;
  left: 53%;
  height: auto;
  z-index: 1;

}

#tree3 {
  position: absolute;
  width: 15%;
  top: 66%;
  left: 3%;
  height: auto;
  z-index: 1;

}

}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {
  .example {background: green;}
    #server_farm {
  position: absolute;
  width: 32%;
  top: 45%;
  left: 19%;
  height: auto;
  z-index: -2;
}
#tree {
  position: absolute;
  width: 15%;
  top: 54%;
  left: 73%;
  height: auto;
  z-index: 1;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 44%;
  left: 53%;
  height: auto;
  z-index: 1;

}
#tree3 {
  position: absolute;
  width: 15%;
  top: 64%;
  left: 3%;
  height: auto;
  z-index: 1;

}

}*/

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
  .example {background: blue;}
  #server_farm {
  position: absolute;
  width: 32%;
  top: 40%;
  left: 19%;
  height: auto;
  z-index: -2;
}
#tree {
  position: absolute;
  width: 15%;
  top: 51%;
  left: 73%;
  height: auto;
  z-index: 1;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 42%;
  left: 53%;
  height: auto;
  z-index: 1;

}
#tree3 {
  position: absolute;
  width: 15%;
  top: 62%;
  left: 3%;
  height: auto;
  z-index: 1;

}

} */

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 400px) and (max-height: 400px) and (orientation: landscape) {
  .example {background: green;}


  #server_farm {
  position: absolute;
  width: 32%;
  top: 25%;
  left: 19%;
  height: auto;
  z-index: -2;
}
#tree {
  position: absolute;
  width: 15%;
  top: 51%;
  left: 73%;
  height: auto;
  z-index: 1;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 42%;
  left: 53%;
  height: auto;
  z-index: 1;

}
#tree3 {
  position: absolute;
  width: 15%;
  top: 55%;
  left: 3%;
  height: auto;
  z-index: 1;

}

} */



/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
  .example {background: orange;}
   #server_farm {
  position: absolute;
  width: 32%;
  top: 35%;
  left: 19%;
  height: auto;
  z-index: -2;
}
#tree {
  position: absolute;
  width: 15%;
  top: 48%;
  left: 73%;
  height: auto;
  z-index: 1;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 40%;
  left: 53%;
  height: auto;
  z-index: 1;

}
#tree3 {
  position: absolute;
  width: 15%;
  top: 60%;
  left: 3%;
  height: auto;
  z-index: 1;

}

} */



/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
  .example {background: pink;}
   #server_farm {
  position: absolute;
  width: 32%;
  top: 30%;
  left: 19%;
  height: auto;
  z-index: -2;
}
#tree {
  position: absolute;
  width: 15%;
  top: 45%;
  left: 73%;
  height: auto;
  z-index: 1;

}
#tree2 {
  position: absolute;
  width: 20%;
  top: 38%;
  left: 53%;
  height: auto;
  z-index: 1;

}

#tree3 {
  position: absolute;
  width: 15%;
  top: 58%;
  left: 3%;
  height: auto;
  z-index: 1;

}

}*/


#safari{
  opacity:0.0;
  font-size: large;
  color: chartreuse;
  font-weight: bold;
  margin-top:20%;
  margin-left:40%;
}

div{


}

body{



background-image: url(images/island_desktop.jpg);
            background-repeat: no-repeat;
            background-size: 100vw 100vh;
            background-attachment: fixed;
            height: 40em;
            margin-top: 0;
            padding: 0;

 /*background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/




/*	background: #FEB2BF;
background: -webkit-linear-gradient(top, #FEB2BF, #CAFDBF);
background: -moz-linear-gradient(top, #FEB2BF, #CAFDBF);
background: linear-gradient(to bottom, #FEB2BF, #CAFDBF);
background-color: red;*/
} 

@keyframes example3 {
    0%   {left:30%;}
    
    100% {left:60%;}
}

.img-2 {
  position: absolute;
  width: 20%;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -165%);

    animation-name: example3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



.ocean1 {
position: absolute;
  width: 100%;
  height: auto;
  left: 0%;
  top: 92%;
  z-index: 5;
}

.ocean2 {
position: absolute;
  width: 100%;
  height: auto;
  left: 0%;
  top: 86%;
    z-index: 3;
}



       #container {
}

@keyframes flying{




    0%   {transform: translateY(6%);}

   25%   {transform: translateY(1%);}

    50% {transform: translateY(6%);}
    
    75% {transform: translateY(16%);}

    100% {transform: translateY(6%);}


}


#mover {
  position: absolute;
  width: 8%;
  top: 6%;
  height: auto;

    animation-name: flying;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#mover2 {
  position: absolute;
  width: 8%;
  top: 6%;
  height: auto;

    animation-name: flying;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#mover3 {
  position: absolute;
  width: 8%;
  top: 6%;
  height: auto;

    animation-name: flying;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*#server_farm {
  position: absolute;
  width: 32%;
  top: 30%;
  left: 19%;
  height: auto;
  z-index: -2;
}

#tree {
  position: absolute;
  width: 15%;
  top: 45%;
  left: 73%;
  height: auto;
  z-index: 1;

}*/

/*#tree2 {
  position: absolute;
  width: 20%;
  top: 43%;
  left: 53%;
  height: auto;
  z-index: 1;

}*/

/*#tree3 {
  position: absolute;
  width: 15%;
  top: 58%;
  left: 3%;
  height: auto;
  z-index: 1;

}*/

@keyframes dolphin_jump {



    0%   {transform: rotate(15deg);}



    100% {transform: rotate(45deg);}

}

@keyframes dolphin_jumps {



    0%   {transform: rotate(-15deg);}



    100% {transform: rotate(-45deg);}

}

#dolphin {
  position: absolute;
  width: 16%;
  top: 110%;
  z-index: 4;

/*  
animation-name: dolphin_jumps;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;*/
}

.dolphin_jump{
  
animation-name: dolphin_jump;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}

.dolphin_jump2{


  
animation-name: dolphin_jumps;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}

@keyframes city_rotate {



    0%   {transform: rotate(25deg);}

    25%   {transform: rotate(-25deg);}

    50% {transform: rotate(25deg);}
    
    75% {transform: rotate(-25deg);}

    100% {transform: rotate(25deg);}

}

#city {
  position: absolute;
  width: 15%;
  top: 70%;
  left: 15%;
  height: auto;
  z-index: 4;

  animation-name: city_rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}




